In [1]:
import pandas as pd
from open_fdd.air_handling_unit.faults.helper_utils import HelperUtils

In [2]:
# Load your data
ahu_data = r"C:\Users\bbartling\Documents\WPCRC_Master_Mod.csv"
df = pd.read_csv(ahu_data)

df.head()

,timestamp,SaStatic,Sa_FanSpeed,SaStaticSPt,HWR_value,HWS_value,Heat_Calls,Oa_Temp,OaTemp_Enable,CWR_Temp,...,EffSetpoint,EaDamper,SpaceTemp,RA_CO2,RA_Temp,VAV2_6_SpaceTemp,VAV2_7_SpaceTemp,VAV3_2_SpaceTemp,VAV3_5_SpaceTemp,Unnamed: 44
0,10/1/2023 0:00,-0.02,0.0,0.9,73.72,73.04,0,72.31,65,57.65,...,76,0.0,70.83,480.97,73.69,72.1,73.94,66.99,67.23,NaN
1,10/1/2023 0:05,0.01,0.0,0.9,73.72,73.04,0,72.22,65,57.75,...,76,0.0,70.83,480.97,73.69,72.1,73.94,66.99,67.23,NaN
2,10/1/2023 0:10,0.01,0.0,0.9,73.71,73.04,0,72.22,65,57.75,...,76,0.0,70.82,479.02,73.69,72.1,73.94,66.99,67.23,NaN
3,10/1/2023 0:15,-0.02,0.0,0.9,73.71,73.05,0,72.15,65,57.85,...,76,0.0,70.82,480.96,73.68,72.1,73.94,66.99,67.23,NaN
4,10/1/2023 0:20,0.01,0.0,0.9,73.70,73.08,0,72.09,65,57.95,...,76,0.0,70.80,480.95,73.63,72.1,73.94,66.99,67.23,NaN

In [3]:
df.columns

Index(['timestamp', 'SaStatic', 'Sa_FanSpeed', 'SaStaticSPt', 'HWR_value',
       'HWS_value', 'Heat_Calls', 'Oa_Temp', 'OaTemp_Enable', 'CWR_Temp',
       'CWS_Temp', 'CWS_Freeze_SPt', 'CW_Valve', 'HW_Valve', 'DischargeTemp',
       'Eff_DaSP', 'RaHumidity', 'Ra_Temp', 'Ra_FanSpeed', 'OaTemp',
       'Ma_Dampers', 'Ma_Temp', 'SaTempSP', 'RaCO2', 'CurrentKWHrs',
       'CurrentKW', 'Eff_DaSPt', 'RaTemp', 'MaLowSPt', 'MaDampers',
       'SaStatic_SPt', 'SaTempSPt', 'CoolValve', 'OA_Damper', 'MA_Temp',
       'EffSetpoint', 'EaDamper', 'SpaceTemp', 'RA_CO2', 'RA_Temp',
       'VAV2_6_SpaceTemp', 'VAV2_7_SpaceTemp', 'VAV3_2_SpaceTemp',
       'VAV3_5_SpaceTemp', 'Unnamed: 44'],
      dtype='object')

In [4]:
# Checking data types of each column
print("Data Types:")
print(df.dtypes)

Data Types:
timestamp            object
SaStatic            float64
Sa_FanSpeed         float64
SaStaticSPt         float64
HWR_value           float64
HWS_value           float64
Heat_Calls            int64
Oa_Temp             float64
OaTemp_Enable         int64
CWR_Temp            float64
CWS_Temp            float64
CWS_Freeze_SPt        int64
CW_Valve            float64
HW_Valve            float64
DischargeTemp       float64
Eff_DaSP            float64
RaHumidity          float64
Ra_Temp             float64
Ra_FanSpeed         float64
OaTemp              float64
Ma_Dampers          float64
Ma_Temp             float64
SaTempSP            float64
RaCO2               float64
CurrentKWHrs        float64
CurrentKW           float64
Eff_DaSPt           float64
RaTemp              float64
MaLowSPt            float64
MaDampers           float64
SaStatic_SPt        float64
SaTempSPt           float64
CoolValve           float64
OA_Damper           float64
MA_Temp             float64
EffSetpoint           int64
EaDamper            float64
SpaceTemp           float64
RA_CO2              float64
RA_Temp             float64
VAV2_6_SpaceTemp    float64
VAV2_7_SpaceTemp    float64
VAV3_2_SpaceTemp    float64
VAV3_5_SpaceTemp    float64
Unnamed: 44         float64
dtype: object

In [5]:
# Checking max values of each column
print("\nMax Values:")
print(df.max(numeric_only=True))

Max Values:
SaStatic               0.87
Sa_FanSpeed          100.00
SaStaticSPt            0.90
HWR_value            178.16
HWS_value            180.55
Heat_Calls            15.00
Oa_Temp               94.44
OaTemp_Enable         75.00
CWR_Temp              92.10
CWS_Temp              91.04
CWS_Freeze_SPt         5.00
CW_Valve             100.00
HW_Valve             100.00
DischargeTemp         96.73
Eff_DaSP              63.00
RaHumidity            86.24
Ra_Temp               81.82
Ra_FanSpeed           86.00
OaTemp                94.58
Ma_Dampers           100.00
Ma_Temp               80.31
SaTempSP              70.00
RaCO2               1094.05
CurrentKWHrs          15.30
CurrentKW            120.98
Eff_DaSPt             63.00
RaTemp                79.19
MaLowSPt              64.64
MaDampers             50.00
SaStatic_SPt           0.90
SaTempSPt             70.00
CoolValve            100.00
OA_Damper            100.00
MA_Temp               80.73
EffSetpoint           76.00
EaDamper             100.00
SpaceTemp             74.00
RA_CO2              1381.07
RA_Temp               79.83
VAV2_6_SpaceTemp      75.06
VAV2_7_SpaceTemp      75.62
VAV3_2_SpaceTemp      80.47
VAV3_5_SpaceTemp      75.29
Unnamed: 44             NaN
dtype: float64

If you notice above these cols are floats from 0 to 100.0 for the control system analog outputs. Open-fdd expects floats from 0 to 1.0 for percentage of command. Some control system data is 0 - 100.0 and some is 0 - 1.0. If you do pass in a 0 to 100.0 for the control system analog outputs there are checks under the hood that will flag it. 

```python
Sa_FanSpeed          100.00
CW_Valve             100.00
HW_Valve             100.00
Ma_Dampers           100.00
```

In [6]:

percentage_columns = [
    ["Sa_FanSpeed"],
    ["CW_Valve"],
    ["HW_Valve"],
    ["Ma_Dampers"],
]

for col in percentage_columns:
    df[col] = df[col] / 100.0

df.head()

,timestamp,SaStatic,Sa_FanSpeed,SaStaticSPt,HWR_value,HWS_value,Heat_Calls,Oa_Temp,OaTemp_Enable,CWR_Temp,...,EffSetpoint,EaDamper,SpaceTemp,RA_CO2,RA_Temp,VAV2_6_SpaceTemp,VAV2_7_SpaceTemp,VAV3_2_SpaceTemp,VAV3_5_SpaceTemp,Unnamed: 44
0,10/1/2023 0:00,-0.02,0.0,0.9,73.72,73.04,0,72.31,65,57.65,...,76,0.0,70.83,480.97,73.69,72.1,73.94,66.99,67.23,NaN
1,10/1/2023 0:05,0.01,0.0,0.9,73.72,73.04,0,72.22,65,57.75,...,76,0.0,70.83,480.97,73.69,72.1,73.94,66.99,67.23,NaN
2,10/1/2023 0:10,0.01,0.0,0.9,73.71,73.04,0,72.22,65,57.75,...,76,0.0,70.82,479.02,73.69,72.1,73.94,66.99,67.23,NaN
3,10/1/2023 0:15,-0.02,0.0,0.9,73.71,73.05,0,72.15,65,57.85,...,76,0.0,70.82,480.96,73.68,72.1,73.94,66.99,67.23,NaN
4,10/1/2023 0:20,0.01,0.0,0.9,73.70,73.08,0,72.09,65,57.95,...,76,0.0,70.80,480.95,73.63,72.1,73.94,66.99,67.23,NaN

In [7]:
# Convert the timestamp column to datetime and set it as the index
df["timestamp"] = pd.to_datetime(df["timestamp"])
df.set_index("timestamp", inplace=True)

df.head()

,SaStatic,Sa_FanSpeed,SaStaticSPt,HWR_value,HWS_value,Heat_Calls,Oa_Temp,OaTemp_Enable,CWR_Temp,CWS_Temp,...,EffSetpoint,EaDamper,SpaceTemp,RA_CO2,RA_Temp,VAV2_6_SpaceTemp,VAV2_7_SpaceTemp,VAV3_2_SpaceTemp,VAV3_5_SpaceTemp,Unnamed: 44
timestamp,,,,,,,,,,,,,,,,,,,,,
2023-10-01 00:00:00,-0.02,0.0,0.9,73.72,73.04,0,72.31,65,57.65,55.06,...,76,0.0,70.83,480.97,73.69,72.1,73.94,66.99,67.23,NaN
2023-10-01 00:05:00,0.01,0.0,0.9,73.72,73.04,0,72.22,65,57.75,55.18,...,76,0.0,70.83,480.97,73.69,72.1,73.94,66.99,67.23,NaN
2023-10-01 00:10:00,0.01,0.0,0.9,73.71,73.04,0,72.22,65,57.75,55.18,...,76,0.0,70.82,479.02,73.69,72.1,73.94,66.99,67.23,NaN
2023-10-01 00:15:00,-0.02,0.0,0.9,73.71,73.05,0,72.15,65,57.85,55.25,...,76,0.0,70.82,480.96,73.68,72.1,73.94,66.99,67.23,NaN
2023-10-01 00:20:00,0.01,0.0,0.9,73.70,73.08,0,72.09,65,57.95,55.31,...,76,0.0,70.80,480.95,73.63,72.1,73.94,66.99,67.23,NaN

Setup the config dict to pass in column names

In [8]:
# Configuration dictionary
config_dict = {
    # used for report name
    'AHU_NAME': "MZVAV_1",

    # timestamp column name
    'INDEX_COL_NAME': "timestamp",

    'DUCT_STATIC_COL': "SaStatic",
    'DUCT_STATIC_SETPOINT_COL': "SaStaticSPt",
    'SUPPLY_VFD_SPEED_COL': "Sa_FanSpeed",
    'MAT_COL': "MA_Temp",
    'OAT_COL': "OaTemp",
    'SAT_COL': "SaTempSP",
    'RAT_COL': "RaTemp",
    'HEATING_SIG_COL': "HW_Valve",  
    'COOLING_SIG_COL': "CW_Valve",  
    'ECONOMIZER_SIG_COL': "Ma_Dampers",
    'SUPPLY_FAN_AIR_VOLUME_COL': None,  # Set to None to potentially skip Fault Condition 6

    'SAT_SETPOINT_COL': "SaTempSPt",
    'CONSTANT_LEAVE_TEMP_SP': False,
    'CONSTANT_LEAVE_TEMP_SP_VAL': 55.0,

    'VFD_SPEED_PERCENT_ERR_THRES': 0.05,
    'VFD_SPEED_PERCENT_MAX': 0.99,
    'DUCT_STATIC_INCHES_ERR_THRES': 0.1,
    'OUTDOOR_DEGF_ERR_THRES': 5.0,
    'MIX_DEGF_ERR_THRES': 5.0,
    'RETURN_DEGF_ERR_THRES': 2.0,
    'SUPPLY_DEGF_ERR_THRES': 2.0,
    'DELTA_T_SUPPLY_FAN': 2.0,

    'DELTA_OS_MAX': 7,
    'AHU_MIN_OA_DPR': 0.20,
    'OAT_RAT_DELTA_MIN': 10,
    'AIRFLOW_ERR_THRES': 0.3,
    'AHU_MIN_OA_CFM_DESIGN': 2500,
    'TROUBLESHOOT_MODE': False,
    'ROLLING_WINDOW_SIZE': 5
}

On really large data set this can take a few minutes to run

In [9]:
helper_utils = HelperUtils()
df_combined, fault_counts_df = helper_utils.process_all_faults(df, config_dict)

Warning: If data has a one minute or less sampling frequency a rolling average will be automatically applied
Warning: Median time difference between consecutive timestamps is 0 days 00:05:00.

c:\Users\bbartling\AppData\Local\Programs\Python\Python312\Lib\site-packages\open_fdd\air_handling_unit\faults\shared_utils.py:65: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  df = df.rolling(rolling_window).mean()

Warning: A 5T rolling average has been applied to the data\.
fc1 done
Duct static pressure too low with fan operating near max speed
fault sum:  864
==================================================
fc2 done
Mix temp too low; should be between outside and return temp
fault sum:  0
==================================================
fc3 done
Mix temp too high; should be between outside and return temp
fault sum:  237
==================================================
In FC4 compiling data in Pandas this one takes a while to run...
fc4 done
PID hunting; too many operating state changes per hour
fault sum:  2
==================================================
fc5 done
Supply temp too low should be higher than mix temp
fault sum:  403
==================================================
fc7 done
Supply temp too low in full heating
fault sum:  0
==================================================
fc8 done
Supply and mix temp should be approx equal in econ mode
fault sum:  41854
==================================================
fc9 done
Outside temp too high in free cooling without additional mech cooling plus econ
fault sum:  1028
==================================================
fc10 done
Outdoor temp and mix temp should be approx equal in mech cooling plus econ
fault sum:  543
==================================================
fc11 done
Outside temp too low for mech cooling plus econ
fault sum:  0
==================================================
fc12 done
Supply temp too high should be less than mix temp in mech cooling plus econ
fault sum:  0
==================================================

In [10]:
fault_counts_df

   Fault Condition  Count
0    fc1_fault_sum    864
1    fc2_fault_sum      0
2    fc3_fault_sum    237
3    fc4_fault_sum      2
4    fc5_fault_sum    403
5    fc7_fault_sum      0
6    fc8_fault_sum  41854
7    fc9_fault_sum   1028
8   fc10_fault_sum    543
9   fc11_fault_sum      0
10  fc12_fault_sum      0

In [11]:
df_combined.columns

Index(['SaStatic', 'Sa_FanSpeed', 'SaStaticSPt', 'HWR_value', 'HWS_value',
       'Heat_Calls', 'Oa_Temp', 'OaTemp_Enable', 'CWR_Temp', 'CWS_Temp',
       'CWS_Freeze_SPt', 'CW_Valve', 'HW_Valve', 'DischargeTemp', 'Eff_DaSP',
       'RaHumidity', 'Ra_Temp', 'Ra_FanSpeed', 'OaTemp', 'Ma_Dampers',
       'Ma_Temp', 'SaTempSP', 'RaCO2', 'CurrentKWHrs', 'CurrentKW',
       'Eff_DaSPt', 'RaTemp', 'MaLowSPt', 'MaDampers', 'SaStatic_SPt',
       'SaTempSPt', 'CoolValve', 'OA_Damper', 'MA_Temp', 'EffSetpoint',
       'EaDamper', 'SpaceTemp', 'RA_CO2', 'RA_Temp', 'VAV2_6_SpaceTemp',
       'VAV2_7_SpaceTemp', 'VAV3_2_SpaceTemp', 'VAV3_5_SpaceTemp',
       'Unnamed: 44', 'static_check_', 'fan_check_', 'combined_check',
       'fc1_flag', 'fc2_flag', 'fc3_flag', 'fc5_flag', 'fc7_flag', 'fc8_flag',
       'fc9_flag', 'fc10_flag', 'fc11_flag', 'fc12_flag'],
      dtype='object')